.homePage {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.searchHeader {
    height: 280px;
    background-color: rgb(96, 171, 245);
}

.githubIcon {
    width: 150px;
    height: 150px;
}

.ant-input {
    font-size: 20px;
}

.ant-input-clear-icon {
    font-size: 20px;
}

.ant-modal-content {
    box-shadow: none;
}

.ant-card {
    margin: 0 auto;
}