.homePage {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.searchHeader {
  background-color: rgb(96, 171, 245);
  padding-bottom: 20px;

  .iconContainer {
    margin: 0 auto;

    img {
      width: 150px;
    }
  }
}